<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <i class="bi bi-calendar2-check"></i> Booking Lapangan
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <% if (!user) { %>
          <li class="nav-item">
            <a class="nav-link" href="/fields">
              <i class="bi bi-list"></i> Lapangan
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/auth/login">
              <i class="bi bi-box-arrow-in-right"></i> Login
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/auth/register">
              <i class="bi bi-person-plus"></i> Register
            </a>
          </li>
        <% } else { %>
          <% if (user.role === 'admin') { %>
            <li class="nav-item">
              <a class="nav-link" href="/fields/">
                <i class="bi bi-list"></i> Lapangan
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin/fields">
                <i class="bi bi-gear"></i> Kelola Lapangan
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin/dashboard">
                <i class="bi bi-speedometer2"></i> Dashboard
              </a>
            </li>
          <% } else { %>
            <li class="nav-item">
              <a class="nav-link" href="/fields/">
                <i class="bi bi-list"></i> Lapangan
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/user/dashboard">
                <i class="bi bi-bookmark-check"></i> Booking Saya
              </a>
            </li>
          <% } %>
          <li class="nav-item">
            <a class="nav-link" href="/auth/logout">
              <i class="bi bi-box-arrow-right"></i> Logout (<strong><%= user.username %></strong>)
            </a>
          </li>
        <% } %>
      </ul>
    </div>
  </div>
</nav>

<div style="height: 70px"></div>
